
// Fixed navbar
@mixin slide-in() {
    position: fixed;
    border-radius: 0;
    top: $navbar-height;
    bottom: 0;
    background-color: $body-bg;
    transition: all .5s cubic-bezier(.32, .59, .3, .98);
    overflow: scroll;
    z-index: 10000;
}


.slide-in-nav {
    @include slide-in();

    &.from-left {
        transform: translateX(-100%);
        right: 60px;
        left: 0px;

        &.activated {
            transform: translateX(0%);
        }
    }

    &.profile-menu {
        transform: translateX(100%);
        right: 0px;
        min-width: 200px;
        //padding: floor($grid-gutter-width/2);

        &.activated {
            transform: translateX(0%);
        }
    }

    &.from-top {
        top: 0;
        transform: translateY(-100%);
        right: 0px;
        left: 0px;
        bottom: 60px;
        z-index: 1000;
        &.activated {
            top: $navbar-height;
            transform: translateY(0%);
        }
    }

    &.from-right {
        transform: translateX(+100%);
        right: 0px;
        &.activated {
            transform: translateX(0%);
        }
    }

}


@media (max-width: $grid-float-breakpoint-max) {
    #fixed-nav {
        @include slide-in();

        transform: translateX(-100%);
        right: 60px;
        left: 0px;

        &.activated {
            transform: translateX(0%);
        }
    }
}


/* Generic navbar active */
@media (min-width: $grid-float-breakpoint) {

    #fixed-nav {
        width: $voteit-fixed-left-nav-sm;
        padding: floor($grid-gutter-width/2);
        position: fixed;
        border-radius: 0;
        top: $navbar-height;
        bottom: 0;
        overflow: scroll;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-sm;
    }

}


#fixed-nav-backdrop {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    left: 0;
}


@media (max-width: $screen-md) {
    body.left-fixed-active {
        > .container,
        > .navbar-fixed-top > .container {
            width: auto;
        }
    }
}


@media (min-width: $screen-md) {
    #fixed-nav {
        width: $voteit-fixed-left-nav-md;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-md;
    }
}

@media (min-width: $screen-lg) {
    #fixed-nav {
        width: $voteit-fixed-left-nav-lg;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-lg;
    }
}

/*
.navbar-fixed-left + .container,
.navbar-fixed-left + .navbar-fixed-top,
*/



// Built from: Inverse navbar
.navbar-voteit {
  background-color: $navbar-voteit-bg;
  border-color: $navbar-voteit-border;
  border-bottom: 0;
  height: $navbar-height;

/*
  @media (min-width: $grid-float-breakpoint) {
    float: left;
  }
  */

    /* Float all for the standard nav in VoteIT */
  .navbar-nav, .navbar-brand, .navbar-header, .navbar-nav > li {
      float: left;
  }

  .navbar-right {
      float: right;
  }

  /* FIXME: Attach right nav as fixed instead.
  Make sure it has a background and goes on top of the title of the meeting!
  */

  .navbar-brand {

    color: $navbar-voteit-brand-color;
    &:hover,
    &:focus {
      color: $navbar-voteit-brand-hover-color;
      background-color: $navbar-voteit-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-voteit-color;
  }

  .navbar-nav {

    margin: 0 -15px;

    > li > a {
      color: $navbar-voteit-link-color;
      padding-top:    15px;
      padding-bottom: 15px;

      &:hover,
      &:focus {
        color: $navbar-voteit-link-hover-color;
        background-color: $navbar-voteit-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-voteit-link-active-color;
        background-color: $navbar-voteit-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-voteit-link-disabled-color;
        background-color: $navbar-voteit-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-voteit-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-voteit-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-voteit-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-voteit-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-voteit-link-active-bg;
        color: $navbar-voteit-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-voteit-border;
        }
        .divider {
          background-color: $navbar-voteit-border;
        }
        > li > a {
          color: $navbar-voteit-link-color;
          &:hover,
          &:focus {
            color: $navbar-voteit-link-hover-color;
            background-color: $navbar-voteit-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-voteit-link-active-color;
            background-color: $navbar-voteit-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-voteit-link-disabled-color;
            background-color: $navbar-voteit-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-voteit-link-color;
    &:hover {
      color: $navbar-voteit-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-voteit-link-color;
    &:hover,
    &:focus {
      color: $navbar-voteit-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-voteit-link-disabled-color;
      }
    }
  }
}
