@import "bootstrap/mixins";

// Fixed & slide-in navs

.slide-in-nav {
    position: fixed;
    border-radius: 0;
    background-color: $body-bg;
    /*
    @include transition-transform(all .5s cubic-bezier(.32, .59, .3, .98));
    */
    overflow: auto;
    z-index: $zindex-navbar-fixed + 50;
    display: none;
    top: $voteit-fixed-top-nav;

    &.from-left {
        @include translate(-100%, 0%);
        right: 60px;
        left: 0px;
        bottom: 0px;
        &.activated {
            @include translate(0%, 0%);
        }
    }

    &.profile-menu {
        @include translate(100%, 0%);
        right: 0px;
        bottom: 0px;
        min-width: 200px;

        &.activated {
            @include translate(0%, 0%);

        }
    }

    &.from-top {
        top: $voteit-fixed-top-nav;
        /*
        @include translate(0%, -100%);
        */
        right: 0px;
        left: 0px;
        z-index: 1000;
        bottom: 100px;
        &.activated {
        /*
            @include translate(0%, 0%);
            */
            z-index: $zindex-navbar-fixed + 50;
        }
    }

    &.from-right {
        @include translate(100%, 0%);
        right: 0px;
        bottom: 0px;
        &.activated {
            @include translate(0%, 0%);
        }
    }
}

/* Increase padding for meetings */
.in_meeting .slide-in-nav {
    top: $voteit-fixed-top-nav * 2;
}


#fixed-nav {
    top: $voteit-fixed-top-nav;
    bottom: 0;
    padding: floor($grid-gutter-width/2);
    position: fixed;
    overflow-y: auto;
    &.slide-in-nav {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
.in_meeting  #fixed-nav {
    top: $voteit-fixed-top-nav * 2;
}


@media (max-width: $grid-float-breakpoint-max) {
    #fixed-nav {
        right: 60px;
        left: 0px;
        @include translate(-100%, 0%);
        &.activated {
            @include translate(0%, 0);
        }
    }
}


.collapse-state { &:before { content: "\e113"; } }

.collapsed .collapse-state {
     &:before { content: "\e114"; }
}


#context-actions {
    position: fixed;
    top: $voteit-fixed-top-nav * 2;
    left: 0;
    right: 0;
    background-color: $well-bg;
    z-index: $zindex-navbar-fixed - 10;
    line-height: $voteit-nav-line-height;
    border-bottom: $navbar-default-border solid 1px;
    .voteit-nav-text *,
    .voteit-nav * {
        line-height: $voteit-nav-line-height;
    }
}

#meeting-menu {
    white-space: nowrap;
    height: $voteit-fixed-top-nav;
    width: 100%;
    position: relative;

    #meeting-extras {
        position: absolute;
        right: 8px;
        bottom: 0;
        padding: 10px;
    }
    .open #meeting-extras {
        background-color: #fff!important;
        color: #000!important;
    }

    .voteit-nav {
        display: inline-block;
    }
    .dropdown-menu {
        z-index: 1040;
    }

}


/* Generic navbar active */
@media (min-width: $grid-float-breakpoint) {

    body.left-fixed-active .agenda-responsive-width {
        width: $voteit-fixed-left-nav-sm;
    }

    #fixed-nav {
        transition: none;
        background-color: $well-bg;
        border-right: 1px solid $well-border;

        @include translate(-100%, 0);
        &.activated {
            @include translate(0%, 0);
        }
    }

    body.left-fixed-active #context-actions {
        left: $voteit-fixed-left-nav-sm;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-sm + floor($grid-gutter-width/2);
    }

}


@media (max-width: $screen-md) {
    body.left-fixed-active {
        > .container,
        > .navbar-fixed-top > .container {
            width: auto;
        }
    }
}


@media (min-width: $screen-md) {
    body.left-fixed-active .agenda-responsive-width {
        width: $voteit-fixed-left-nav-md;
    }
    body.left-fixed-active #context-actions {
        left: $voteit-fixed-left-nav-md;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-md;
    }
}


@media (min-width: $screen-lg) {
    body.left-fixed-active .agenda-responsive-width {
        width: $voteit-fixed-left-nav-lg;
    }
    body.left-fixed-active #context-actions {
        left: $voteit-fixed-left-nav-lg;
    }
    body.left-fixed-active > .container {
        padding-left: $voteit-fixed-left-nav-lg;
    }
}


#fixed-nav-backdrop {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: $voteit-fixed-top-nav;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-navbar-fixed + 1;
}
.in_meeting #fixed-nav-backdrop {
    top: $voteit-fixed-top-nav * 2;
}

#fixed-top-nav {
    background-color: $navbar-voteit-bg;
    color: $navbar-voteit-color;
    line-height: $voteit-nav-line-height;
    height: $voteit-fixed-top-nav;
    a, &:focus, &:active {
        background-color: $navbar-voteit-bg;
        color: $navbar-voteit-color;
    }
    .dropdown-menu a {
        background-color: #fff;
        color: #000;
        &:hover {
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
}
.in_meeting #fixed-top-nav {
    height: $voteit-fixed-top-nav * 2;

}

.voteit-nav {

  > li {
    float: left;

    > a {
        padding: $voteit-nav-padding 10px;
        height: $voteit-nav-line-height + $voteit-nav-padding * 2;
    }

  }
}

.menu-toggler {
    border-radius: 8px 8px 0 0;
    background-color: rgba(255,255,255,.1)!important;
    transition: background-color .25s;
    margin-left: 8px;
}

body.left-fixed-active #agenda-toggler {
    @media (min-width: $screen-sm) {
        background-color: $well-bg!important;
        color: #000!important;
    }
}

.menu-toggler {
    &.open {
        background-color: rgba(255,255,255,1)!important;
        color: #000!important;
    }
}

.voteit-logo-nav {
    min-width: 70px;
    margin-top: floor($voteit-nav-padding / 2);
    margin-bottom: floor($voteit-nav-padding / 2);
    padding: 0px;
    height: $voteit-nav-line-height + $voteit-nav-padding;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/voteit_core_static/images/voteit-logo.svg);
    background-position-y: center;
    @media (min-width: $screen-md) {
        margin-right: 10px;
    }
}

.voteit-nav-text,
.voteit-nav-header {
    height: $voteit-nav-line-height + $voteit-nav-padding * 2;
    line-height: $voteit-nav-line-height;
    padding: $voteit-nav-padding 10px;
    margin-top: 0;
    margin-bottom: 0;
    &:hover {
        text-decoration: none;
    }
    h1 {
        line-height: $voteit-nav-line-height;
        font-weight: bold;
        font-size: 17px;
        margin: 0;
        padding-right: 40px;
    }
}

// Built from: Inverse navbar
/* This whole section is kept for compatibility reasons. It's deprecated */
.navbar-voteit {
  background-color: $navbar-voteit-bg;
  border-color: $navbar-voteit-border;
  border-bottom: 0;
  height: $navbar-height;

  /* Float all for the standard nav in VoteIT */
  .navbar-nav, .navbar-brand, .navbar-header, .navbar-nav > li {
      float: left;
  }

  .navbar-right {
      float: right;
  }

  /* FIXME: Attach right nav as fixed instead.
  Make sure it has a background and goes on top of the title of the meeting!
  */

  .navbar-brand {

    color: $navbar-voteit-brand-color;
    &:hover,
    &:focus {
      color: $navbar-voteit-brand-hover-color;
      background-color: $navbar-voteit-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-voteit-color;
  }

  .navbar-nav {

    margin: 0 -15px;

    > li > a {
      color: $navbar-voteit-link-color;
      padding-top:    15px;
      padding-bottom: 15px;

      &:hover,
      &:focus {
        color: $navbar-voteit-link-hover-color;
        background-color: $navbar-voteit-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-voteit-link-active-color;
        background-color: $navbar-voteit-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-voteit-link-disabled-color;
        background-color: $navbar-voteit-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-voteit-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-voteit-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-voteit-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-voteit-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-voteit-link-active-bg;
        color: $navbar-voteit-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-voteit-border;
        }
        .divider {
          background-color: $navbar-voteit-border;
        }
        > li > a {
          color: $navbar-voteit-link-color;
          &:hover,
          &:focus {
            color: $navbar-voteit-link-hover-color;
            background-color: $navbar-voteit-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-voteit-link-active-color;
            background-color: $navbar-voteit-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-voteit-link-disabled-color;
            background-color: $navbar-voteit-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-voteit-link-color;
    &:hover {
      color: $navbar-voteit-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-voteit-link-color;
    &:hover,
    &:focus {
      color: $navbar-voteit-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-voteit-link-disabled-color;
      }
    }
  }
}
/* END Deprecated nav */
