@import "bootstrap/_variables";

/*
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
*/

$icon-font-path: "fonts/bootstrap/";

$brand-default:         #ccc;

$brand-approved:        $brand-success;
$brand-denied:          $brand-danger;
$brand-published:       $brand-primary;
$brand-private:         $brand-danger;
$brand-upcoming:        $brand-warning;
$brand-voting:          $brand-warning;
$brand-ongoing:         $brand-success;
$brand-closed:          #000;
$brand-retracted:       $brand-default;
$brand-canceled:        $brand-default;
$brand-unhandled:       $brand-default;
