body {
	font-size: 14px;
	font-family: Times;
}
#wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}
#navigation {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 200px;
	background: #dbe0e5;
}
#navigation a {
    color: #054265;
}
#navigation .selected {
    background: #fff;
}
#navigation .header {
    background: #054265;
	color: #fff;
	padding: 10px;
	margin-left: -10px;
	margin-right: -10px;
}
#navigation .header a {
	color: #fff;
}
#main_window {
    position: absolute;
	left: 200px;
	right: 0px;
	top: 50px;
	bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0.5em 0;
}

h1 {
	font-size: 200%;
}
h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 85%;
}
a {
    color: #f60;
	text-decoration: none;
}
.content_wrapper {
	padding: 10px;
}
.browse_up {
}
#path_bar {
	float: left;
}

/* Profile toolbar with tabs */
#profile_toolbar {
    width: 100%;
	height: 50px;
    background: #054265;
	position: relative;
}

#profile_toolbar ul.tabs {
	position: absolute;
    right: 0px;
	bottom: 0px;
}
#profile_toolbar ul li.tab { 
    float: left;
    margin-right: 0.5em;
	bottom: 0px;
	padding: 0.25em 1em;
	background: #fff;
	border-style: solid;
	border-color: #dbe0e5;
	border-width: 1px 1px 0px 1px;

	border-top-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	-webkit-border-top-left-radius: 0.5em 0.5em;
	-webkit-border-top-right-radius: 0.5em 0.5em;
	-moz-border-top-left-radius: 0.5em 0.5em;
	-moz-border-top-right-radius: 0.5em 0.5em;

}

/* End profile toolbar */

/* Action bar class */
.action_bar {
    clear: both;
	white-space: nowrap;
	list-style: none;
}
.action_bar .expression_form {
	display: inline;
}
.action_bar li.menuitem { 
	margin-left: 0.5em;
	display: inline;
}
/* end action bar */
.column {
    float: left;
    width: 49%
}

div#page_info fieldset {
    border: 1px solid black;
}

#main {
    clear: both;
}

.buttonize {
	border: 1px solid #054265;
	background: #dbe0e5;
	padding: 0.25em 0.5em;
	color: #054265;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
	font-size: 12px;
}
.buttonize.selected {
}
.buttonize:hover {
    background-color: #054265;
    color: #fff;
}

.dropdown_menu {
	position: relative;
}
.menu_header {}
.menu_body {
    position: absolute;
    display: none;
    top: 1.25em;
    padding: 1em;
    background: #fff;
    border: 1px solid #dbe0e5;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
	z-index: 99;
}
.menu_body li {
	white-space: nowrap;
}
.menu_body a {
	display: block;
    margin-left: -1em;
    margin-right: -1em;
	padding: 0.25em 1em;

}
.menu_body a:hover,
.action_bar .menu_header.hover {
	color: #fff;
	background: #054265;
}

.listing_block {
    margin-top: 1em;
}

/* Workflow states */
.wf-state-active {}
.wf-state-approved {}
.wf-state-canceled {}
.wf-state-closed {}
.wf-state-denied {}
.wf-state-inactive {}
.wf-state-planned {}
.wf-state-private {}
.wf-state-published {}
.wf-state-retracted {}
.wf-state-unhandled {}
.wf-state-voting {}
.wf-state-ongoing {}
