html, body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0.5em 0;
}
h1 {
	font-size: 200%;
}
h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 85%;
}
a {
    color: #054265;
	text-decoration: none;
}
p {
    margin-bottom: 0.5em;
	line-height: 1.25em;
}
.content_wrapper {
	padding: 10px;
}
#page_wrapper {
    background: url(images/bubble_big.png) no-repeat -160px 60px;
	width: 100%;
	display: block;
	min-height: 100%;
}
#main_window,
.qtip-wrapper {
	line-height: 1.5em;
}

#leftcol-wrapper,
#rightcol-wrapper {
    float: left;
    position:relative;
    width: 100%;
}
#leftcol-wrapper {
    background: url(images/navigation_bg_opacity10.png) repeat;
	right: 80%;
}
#rightcol-wrapper {
    overflow:hidden;
}
#main-content-wrapper {
    position: relative;
	min-height: 100%;
	padding-bottom: 100px;
    background: url(images/bubble_small.png) no-repeat 98% 40px;
}
#navigation {
	position: relative;
	float: left;
	left: 80%;
	width: 20%;
}
#main_window {
    position: relative;
    float: left;
    left: 80%;
	width: 80%;
    overflow:hidden;
}
#content {
    padding-bottom: 20px;
    position: relative;
	float: left;
	clear: both;
	width: 100%;
}
#footer {
    position: relative;
    background: url(images/navigation_bg_opacity10.png) repeat;
	height: 90px;
	padding: 10px;
	margin-top: -100px;
    display: block;
    overflow: hidden;
    text-align: center;
}
#footer-logos {
    position: absolute;
	height: 54px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	background: url(images/logos_footer.png) no-repeat 50% 100%;
}

/* Generic classes for positioning columns */
.col-20-80,
.col-50-50 {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    clear: both;
}
.column {
    position: relative;
    float: left;
    left: 100%;
}
.col-20-80 .column-1 {
    margin-left: -100%;
    width: 20%;
}
.col-20-80 .column-2 {
    margin-left: -80%;
    width: 80%;
}
.col-50-50 .column-1 {
    margin-left: -100%;
    width: 50%;
}
.col-50-50 .column-2 {
    margin-left: -50%;
    width: 50%;
}
/* end col classes */

/* dropdown menu */
.dropdown_menu {
	position: relative;
}
.dropdown_menu .menu_header {}
.dropdown_menu .menu_body {
    position: absolute;
    display: none;
    top: 1.25em;
	right: 0px;
    padding: 1em;
    background: #fff;
	z-index: 99;
}
.dropdown_menu .menu_body li {
	white-space: nowrap;
}
.dropdown_menu .menu_body a,
.dropdown_menu .menu_body .readonly {
	display: block;
    margin-left: -1em;
    margin-right: -1em;
	padding: 0.25em 1em;
}
.dropdown_menu .menu_body a:hover {
	color: #fff;
	background: #054265;
}

/* Header sections */
#header {
	display: block;
	height: 100px;
}
#logo {
	padding: 10px;
}
#logo-meeting-wrapper {
	position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 50px;
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
}
#logo-meeting-wrapper a,
#global-actions a {
    color: #fff;
}
#logo-space {
    padding: 0px;
	display: inline;
	float: left;
}
#meeting-name-space {
	padding: 10px;
	display: inline;
	font-size: 24px;
	margin-top: 10px;
    margin-left: 20px;
	padding: 0px;
	float: left;
}
#global-actions {
    position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
    background: #054265;
}
#meeting-actions {
    position: absolute;
    display: block;
	top: 50px;
    left: 0px;
    right: 0px;
    height: 50px;
    background: url(images/meetingmenu_bg_opacity30.png) repeat;
}

/* Icons */
.iconpadding > span {
    padding-left: 20px;
}
.iconpadding.closed > span {
    background: url(icons/icon_past.png) no-repeat;
}
.iconpadding.ongoing > span {
    background: url(icons/icon_ongoing.png) no-repeat;
}
.iconpadding.upcoming > span {
    background: url(icons/icon_upcoming.png) no-repeat;
}
.iconpadding.private > span {
    background: url(icons/icon_upcoming_red.png) no-repeat;
}
.iconpadding.proposal {
    background: url(icons/icon_proposal_lb.png) no-repeat left 25%;
}
.iconpadding.discussion,
.iconpadding.discussionpost {
    background: url(icons/icon_disc_lb.png) no-repeat left 25%;
}
.iconpadding.poll {
    background: url(icons/icon_poll_lb.png) no-repeat left 25%;
}
.iconpadding.poll-dark {
    background: url(icons/icon_poll.png) no-repeat;
}

.iconpadding > .cog-dark {
    background: url(icons/icon_settings.png) no-repeat top left;
}

/* End icons */

/* Action areas in #header */
#global-actions-menu {
	float: right;
	font-weight: bold;
    font-size: 14px;
	padding: 15px 10px;

}
#global-actions-menu .icon {
	padding-left: 20px;
}
#global-actions-menu li {
    float: left;
    margin-right: 10px;
	margin-left: 20px;
}
#global-actions-menu .meeting_time {
    background: url(icons/icon_clock_white.png) no-repeat 0 0;
}
#global-actions-menu .user {
	background: url(icons/icon_user.png) no-repeat 0 0;
}
#global-actions-menu .logout {
    background: url(icons/icon_close_white.png) no-repeat 0 0;
}

#meeting-actions-menu {
	float: right;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
#meeting-actions-menu .unread {
    border-left: solid 3px #054265;   
}
#meeting-actions-menu li.tab { 
    float: left;
    margin-left: 0.5em;
}
#meeting-actions-menu li.tab > a {
	display: block;
	height: 20px;
	padding: 10px;
}
#meeting-actions-menu .dropdown_menu .menu_body {
	top: 40px;
    background: #fff url(images/meetingmenu_bg_opacity30.png) repeat;
}

/* Left side navigation (Agenda) */
#navigation {
	color: #054265;
}
#navigation h5 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}
#navigation h6 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #86A3B4;
}
#navigation .selected {
	margin-right: -20px;
	padding-right: 20px;
    background: url(images/task_active.png) no-repeat right bottom;
}
#navigation ul {
    margin: 0px;
}

#navigation > ul > li {
    margin-top: 5px;
    border-bottom: #ccc 1px solid;
}
#navigation span.unread {
    font-weight: bold;
}

#navigation .cinfo {
    float: left;
	margin: 5px 0px;
}
#navigation .cinfo.proposal {
    width: 80px;
}
#navigation .info {
	clear: both;
}

#navigation #add_menu {
    float: right;
}

#navigation .action_menu {
    float: right;
	margin-top: 5px;
}
#navigation .item {
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
}

#navigation .block {
	padding: 10px 20px 10px 10px;
}

/* Main window */
#main_window h1,
#main_window h2 {
    border-bottom: 2px solid #86A3B4;
    padding-bottom: 0.5em;
}
.listing_block {
    margin-top: 1em;
	clear: both;
}

/* Workflow states */
.wf-state-ongoing {}
.wf-state-approved {}
.wf-state-canceled {}
.wf-state-closed {}
.wf-state-denied {}
.wf-state-upcoming {}
.wf-state-private {}
.wf-state-published {}
.wf-state-retracted {}
.wf-state-unhandled {}
.wf-state-voting {}
.wf-state-ongoing {}

#proposals .wf-state,
#polls .wf-state {
	padding-left: 20px;
}
.wf-state-published .wf-state { background: url(icons/icon_doc.png) left center no-repeat; }
.wf-state-retracted .wf-state { background: url(icons/icon_doc_retracted.png) left center no-repeat; }
.wf-state-unhandled .wf-state { background: url(icons/icon_doc.png) left center no-repeat; } /*FIXME: Icon */
.wf-state-voting .wf-state { background: url(icons/icon_lock.png) left center no-repeat; }
.wf-state-approved .wf-state { background: url(icons/icon_approved.png) left center no-repeat; }
.wf-state-denied .wf-state { background: url(icons/icon_denied.png) left center no-repeat; }

/* Flash messages */
#flash_messages,
#notify-meetingstate {
	clear: both;
}

#flash_messages .message,
#notify-meetingstate .message {
    padding: 5px 15px 5px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
	/* Info is default */
    border: 1px solid #CCC;
    background: #FFF8E0 url(icons/icon_info.png) no-repeat 5px 6px;
	float: left;
	clear: both;
    font-style: italic;
	font-size: 14px;
	color: #054265;
}
#notify-meetingstate .message {
    background-image: url(icons/icon_lock.png);
}
#flash_messages .info {
}
#flash_messages .error {
    border-color: red;
    background-color: #fdc;
}
#flash_messages .close_message {
    font-weight: bold;
	font-style: normal;
	margin-left: 1em;
}
div.unread.listing_block {
	margin-left: -5px;
	padding-left: 5px;
    border-left: solid 2px #054265;
}

/* Notification messages */
li.notification_message {
	margin-bottom: 10px;
}

/* meeting overview */
#meeting_overview {
	color: #054265;
}

#meeting_overview h4 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #86A3B4;
}
.toggle_opened .toggle_minimize {
    background: url(icons/icon_arrow_up_lb.png) no-repeat top right;
}
.toggle_opened .toggle_minimize:hover {
    background-image: url(icons/icon_arrow_up.png);
}
.toggle_closed .toggle_minimize {
    background: url(icons/icon_arrow_down_lb.png) no-repeat top right;
}
.toggle_closed .toggle_minimize:hover {
    background-image: url(icons/icon_arrow_down.png);
}
.toggle_area.toggle_closed .minimizable_area {
	display: none !important;
}
.toggle_area.toggle_opened .minimizable_inverted {
	display: none !important;
}
#meeting_overview ul.ai_list > li {
    margin-top: 5px;
    border-bottom: #ccc 1px solid;
}

/* Inline forms, like user tags */
.inline_form {
    display: inline;
}
.inline_form .inline_submit {
    background-color: transparent; 
    border: 0; 
    padding: 0;
    cursor: pointer;
    color: #054265;
	text-decoration: none;
}

/* polls */
#polls h3 {
    color: #666;
    font-weight: normal;
}
#polls .poll_type {
    border: 1px solid #86A3B4;
    background-color: #fff;
    padding: 5px 10px;
}
#polls .listing_block {
	border-bottom: 2px solid #86A3B4;
	padding-bottom: 10px;
}
#polls .proposal {
	clear: both;
}
#polls .proposal,
#polls .deform > li {
	margin: 5px 0px;
	border-top: 1px solid #ccc;
}
#polls .deform label.desc {
    font-weight: normal;
}
#polls .buttons {
    text-align: right;
}
/* proposals and discussions */
#proposals .creators img,
#discussions .creators img {
    float: left;
}

#proposals .wf-state-retracted .body {
	text-decoration: line-through;
}

#proposals .proposal_form,
#discussions .discussion_form {
    background-color: #DBE0E5;
    margin-top: 1em;
    padding: 10px;
}

#proposals .proposal_form .creators span,
#discussions .discussion_form .creators span {
    display: none;
}

#proposals .proposal_form label,
#discussions .discussion_form label {
    display: none;
}

#proposals .proposal_form img,
#discussions .discussion_form img {
}

#proposals .proposal_form li,
#discussions .discussion_form li {
    margin: 0;
    padding: 0;
}

#proposals .proposal_form textarea,
#discussions .discussion_form textarea {
    margin-left: 5px;
    padding: 2px !important;
    height: 36px;
    width: 97%;
    border: none;
}

#proposals .proposal_form button,
#discussions .discussion_form button {
    float: right;
}

/* confirm dialog */
ui-dialog {
    background-color: #000;
}

/* action menu */
.action_menu.dropdown_menu {
	color: #fff !important;
}
.action_menu.dropdown_menu .menu_body {
    top: -1em;
    right: -12em;
    padding: 0 1em;
}
.action_menu li {
    margin-top: 0;
    border-bottom: none !important;
}
.action_menu a {
    color: #fff !important;
}
.action_menu .menu_header {}
.action_menu .menu_body {
    background: #86A3B4;
}
.action_menu .menu_body a:hover {
    color: #fff;
    background: #054265;
}
.cogwheel {
    float: right;
}
.cogwheel .menu_header {
	width: 1px;
	padding-right: 15px;
	height: 1px;
	padding-bottom: 15px;
	background: url(icons/icon_settings_lb.png) no-repeat;
}
.cogwheel .menu_header:hover {
	background-image: url(icons/icon_settings.png);
}
.cogwheel .menusection {
	display: block;
    font-weight: bold;
	margin-top: 0.5em;
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #054265;
}
#main_window .cogwheel .menu_body {
    right: 18px;
}

/* listing */
.creators img {
	margin: 0px 5px 5px 0px;
}
.meta {
    clear: both;
	color: #666;
	font-size: 12px;
}

.meta .wf-state {
    padding-top: 2px;
}

/* minimize */
.toggle_minimize {
    cursor: pointer;
}

/* load more */
.load_more a {
    display: block;
    text-align: center;
    color: #054265;
    border-bottom: 1px solid #86A3B4;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.read_more {
    color: #054265;
    padding: 0 20px 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* table listing */
table.listing > thead > tr > th,
table.listing > tbody > tr > td {
    padding: 5px;
    border-right: 1px solid #fff;
}

table.listing > thead > tr > th.heading {
    background: #054265;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
table.listing > tbody > tr > td {
	font-size: 12px;
}
table.listing > tbody > tr.odd > td {
	background: #dbe0e5;
}
table.listing > tbody > tr.even > td {
	background: #fff;
}

.yes_icon {
	padding-left: 20px;
	height: 16px;
	display: block;
	background: url(icons/icon_approved.png) no-repeat;
}

/* listing items */
.list .listitem {
    display: block;
	border-bottom: 1px solid #ccc;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Form stuff */
.buttonize,
.buttons button {
    border: 1px solid #ccc;
    background: #eff0f2;
    margin: 0px;
    padding: 0.5em 1em;
    color: #054265;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    text-transform:uppercase;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.buttonize.selected {
}
.buttonize:hover,
.buttons button:hover {
    cursor: pointer;
    border: 1px solid #054265;
}
.buttonize.large {
    font-size: 110%;
    padding-left: 1em;
    padding-right: 1em;
	margin: 0 0 1em 0.5em;
}
.moderator-help-buttons {
    float: right;
	clear: both;
	
}
.userinfo .profile-pic {
    float: right;
	margin: 0px 0px 1em 1em;
}
/* widget code, perhaps this should be separate */
.star-rating-control {
    float: right;
}
.starwidget {
	display: block;
    padding: 0 0 0.5em 0;
	border-bottom: 1px solid #ccc;
}
.starwidget .meta {
    float: left;
}
