body {
	font-size: 14px;
	font-family: Times;
}
#navigation {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	background: #dbe0e5;
}
#navigation a {
    color: #054265;
}
#navigation .selected {
    background: #fff;
}
#navigation .header {
    background: #054265;
	color: #fff;
	padding: 10px;
	margin-left: -10px;
	margin-right: -10px;
}
#navigation .header a {
	color: #fff;
}
#main_window {
    position: absolute;
	left: 200px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#profile_toolbar {
	text-align: right;
	background: #dbe0e5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0.5em 0;
}

h1 {
	font-size: 200%;
}
h2 {
    font-size: 1750%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 85%;
}
a {
    color: #f60;
	text-decoration: none;
}
.content_wrapper {
	padding: 10px;
}
.browse_up {
}
#path_bar {
	float: left;
}
#action_bar {
	float: right;
}
#action_bar div {
	display: inline;
}

#profile_toolbar ul {
	float: right;
	margin-top: -0.6em;
}
#profile_toolbar ul li { 
	float: left;
	margin-left: 0.5em;
}
#profile_toolbar ul li ul {
	position: absolute;
	display: none;
	margin: 0 0 0 -1px;
	padding: 0;
	list-style: none
}
