/* Fonts, headlines, text */
body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}
h1 { font-size: 200%;}
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }
h1, h2, h3, h4, h5, h6 {
	padding: 0.25em 0 0.5em 0;
}
#header-meeting-title h1 {
	text-transform: uppercase;
}
#header-meeting-title a {
	color: #5c5a5d;
}
#header-meeting-outer {
	font-size: 18px;
}
#header-meeting-outer a {
	color: #5c5a5d;
	height: 50px;
	display: block;
}
#header-meeting-outer .tab {
	line-height: 50px;
	height: 50px;
	padding: 0px 10px 0px 0px;
}
#search_form {
	text-align: right;
}
#search_query {
	font-size: 16px;
	height: 16px;
	padding: 2px;
	margin: 15px 10px 15px 0px;
	width: 170px;
}
#search_button {

}
/* End Fonts, headlines, text */
/* Links */
a, a:hover, a:active {
	color: #006680;
}
a {
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}
/* End links */
/* Backgrounds and area borders */
body {
	background-color: #f2f2f2;
}
#header-global-outer {
	background-color: #fff;
}
#sidebar .sidebar_block {
	background-color: #fff;
}
#top {
	background-color: #fff;
	margin-bottom: 10px;
}
#content {
	background-color: #fff;
	margin-bottom: 10px;

}
.description {
	background-color: #fff;
}
#left,
#right {
	background-color: #fff;
}
#header-meeting-outer {
	background: url(/static/images/menu_bg.png) repeat-x bottom left;
	height: 50px;
	margin-bottom: 20px;
}
/* End Backgrounds and area borders */
/* main element borders */
#left, #right, #top, #content,
.sidebar_block {
	border: 1px solid #b2b2b5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #888;
    -moz-box-shadow:  1px 1px 5px 2px #888;
    -webkit-box-shadow: 1px 1px 5px 2px #888;
}
/* end main element borders */
/* Icons */
.iconpadding { padding-left: 20px; }
.large-iconpadding { padding-left: 45px; }
.icon.proposal { background: url(/static/type_icons/proposal_mini.png) no-repeat; }
.selected .icon.proposal { background: url(/static/type_icons/proposal_mini_selected.png) no-repeat; }
.icon.discussion, .icon.discussionpost { background: url(/static/type_icons/discussion_mini.png) no-repeat; }
.selected .icon.discussion, .selected .icon.discussionpost { background: url(/static/type_icons/discussion_mini_selected.png) no-repeat; }
.icon.poll { background: url(/static/icons/icon_poll_lb.png) no-repeat left 50%; }
.icon.poll-dark { background: url(/static/icons/icon_poll.png) no-repeat; }
.cog-dark { background: url(/static/icons/icon_settings.png) no-repeat top left; }
.user-dark { background: url(/static/icons/icon_user_db.png) no-repeat top left; }
.icon.time { background: url(/static/icons/icon_clock.png) no-repeat 0 0; }
/* wf icons */
.icon.denied { background: url(/static/workflow_icons/denied.png) left center no-repeat; }
.icon.closed { background: url(/static/workflow_icons/closed.png) left center no-repeat; }
.icon.canceled { background: url(/static/workflow_icons/canceled.png) left center no-repeat; }
.icon.approved { background: url(/static/workflow_icons/approved.png) left center no-repeat; }
.icon.upcoming { background: url(/static/workflow_icons/upcoming.png) left center no-repeat; }
.icon.published { background: url(/static/workflow_icons/published.png) left center no-repeat; }
.icon.retracted { background: url(/static/workflow_icons/retracted.png) left center no-repeat; }
.icon.ongoing { background: url(/static/workflow_icons/ongoing.png) left center no-repeat; }
.icon.unhandled { background: url(/static/workflow_icons/unhandled.png) left center no-repeat; }
.icon.private { background: url(/static/workflow_icons/private.png) left center no-repeat; }
.icon.voting { background: url(/static/workflow_icons/locked.png) left center no-repeat; }
/* icons within menus */
.menu_body .icon.canceled { background: url(/static/workflow_icons/canceled_menu.png) left center no-repeat; }
.menu_body .icon.closed { background: url(/static/workflow_icons/closed_menu.png) left center no-repeat; }
.menu_body .icon.ongoing { background: url(/static/workflow_icons/ongoing_menu.png) left center no-repeat; }
.menu_body .icon.private { background: url(/static/workflow_icons/private_menu.png) left center no-repeat; }
.menu_body .icon.upcoming { background: url(/static/workflow_icons/upcoming_menu.png) left center no-repeat; }
/* header icons */
h1.icon.proposal { background: url(/static/header_icons/proposal.png) no-repeat; }
h1.icon.discussion { background: url(/static/header_icons/discussion.png) no-repeat; }
#agenda_item_title.icon { background: url(/static/header_icons/agenda.png) no-repeat; }
/* End icons */

/* form elements */
button,
.buttonize {
	font-size: 16px;
	border: 1px solid #4a484a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0px 10px;
    /* Specific for larger button - the default */
	background: url(/static/buttons/button_bg.png) repeat-x bottom left;
	height: 30px;
	line-height: 30px;
	color: #fff;
}
button:hover,
.buttonize:hover {
	background: url(/static/buttons/button_bg_mo.png) repeat-x bottom left;
	border-color: #000;
	color: #fff;
}
button:active,
.buttonize:active {}
button.small,
.buttonize.small {
	background-image: url(/static/buttons/button_small_bg.png);
	height: 25px;
	line-height: 25px;
	border: 1px solid #5C5A5D;
	color: #000;
}
#sidebar .buttonize.small {
	color: #000;
	display: block;
	text-align:center;
	margin-bottom: 5px;
}
button.small:hover,
.buttonize.small:hover { /* FIXME: Proper colors */
	background-image: url(/static/buttons/button_small_bg.png);
	border: 1px solid #968c89;
}
button.small:active,
.buttonize.small:active {
	background: #ccc;
}
.buttonize {
	display: inline-block;
}
/* End form elements */

/* Cogwheel menu */
.cogwheel {
	float: right;
	height: 19px;
	width: 23px;
	margin-top: 5px;
}
.cogwheel a {
	color: transparent !important;
	background: url(/static/buttons/cogwheel.png) no-repeat;
	display: block;
}
/* End Cogwheel menu */
/* Sidebar styles */
#sidebar,
#sidebar a {
	color: #5c5a5d;
	font-size: 14px;
}
#sidebar h5.header,
#sidebar h5.header a {
	font-size: 26px;
	display: block;
	height: 34px; /* Due to icons */
	line-height: 34px;
}
#sidebar h6 {
	font-size: 19px;
	text-transform: uppercase;
	margin-top: 20px;
}
#navigation .header a {
	padding-left: 40px;
	background: url(/static/sidebar_icons/agenda_navigation.png) no-repeat left top;
}
#navigation .item {
	margin-top: -1px; /* Overwrite line when bottom and top are next to each other */
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
#navigation .has_unread {
	padding-left: 5px;
	border-left: 5px solid #B2B2B5;
}
#navigation .selected .item {
	background-color: #7d7778;
	border-color: #B2B2B5;
	color: #fff;
}
#navigation .selected a {
	color: #fff;
}
#navigation .cinfo {
    line-height: 18px;
    display: block;
    float: left;
}
#navigation .cinfo.proposal {
    width: 80px;
}
#navigaion .info {
    clear: both;
}

/* End Sidebar styles */

/* Dropdown menus */
.menu_body {
	background-color: #968c89;
	color: #fff;
	padding: 10px;
	font-size: 16px;
	line-height: 1em;
}
.menu_body a,
.menu_body .menutext,
.menu_body .menusection {
	color: #fff;
	padding: 5px;
	display: block;
	border-top: 1px transparent solid;
	border-bottom: 1px transparent solid;
}
.menu_body .menusection {
	border-bottom: 2px solid #fff;
}
.menu_body a:hover {
	background-color: #7d7778;
	border-color: #B2B2B5;
}
/* Specifics */
#global-actions-menu img {
	float: left;
}
#global-actions-menu .userid {
	line-height: 40px;
	height: 40px;
	display: block;
	float: left;
	margin-left: 5px;
	padding-right: 25px;
    background: url(/static/arrow_icons/arrow_right.png) no-repeat right 50%;
}
/* End Dropdown menus */

/* Override qTip defaults - should be same as body */
.qtip {
	font-size: 18px;
	line-height: 1.5em;
}
.qtip-content {
	padding: 0px;
}
/* End Override qTip defaults */

/* Minimizable content */
.toggle_opened .toggle_minimize {
    background: url(/static/arrow_icons/arrow_down.png) no-repeat top right;
}
.toggle_opened .toggle_minimize:hover {}
.toggle_closed .toggle_minimize {
    background: url(/static/arrow_icons/arrow_right.png) no-repeat top right;
}
.toggle_closed .toggle_minimize:hover {}
.toggle_area.toggle_closed .minimizable_area {
    display: none !important;
}
.toggle_area.toggle_opened .minimizable_inverted {
    display: none !important;
}
/* End minimizable content */
/* Flash messages and similar */
#flash_messages,
#notify-meetingstate,
.booth.poll .message {
    clear: both;
    z-index: 10000;
}
#flash_messages .message,
#notify-meetingstate .message,
.booth.poll .message {
    /* Info is default */
    padding: 5px 10px 5px 30px;
    border: 1px solid #fff;
    background: #968C89 url(/static/icons/icon_info.png) no-repeat 10px 50%;
    float: left;
    clear: both;
    font-size: 14px;
    color: #fff;
	border: 1px solid #b2b2b5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #888;
    -moz-box-shadow:  1px 1px 5px 2px #888;
    -webkit-box-shadow: 1px 1px 5px 2px #888;
    margin-bottom: 10px;
}
.booth.poll .message {
	display: none;
	margin: 5px 0px 10px 0px;
}
#flash_messages .lock {
    background-image: url(/static/icons/icon_lock.png);
}
#flash_messages .info {
}
#flash_messages .error,
.booth.poll .error.message {
	/* FIXME: Design?
    border-color: red;
    background-color: #fdc;
    */
}
#flash_messages .close_message {
    font-weight: bold;
    font-style: normal;
    margin-left: 1em;
    color: #fff;
}
/* End flash messages */

/* tables  */
.listing th,
.listing td {
    border-bottom: 1px solid #B2B2B5;
    padding: 3px;
}
.listing th {
    background: #ededed;
}
.listing tr {
	background: #fff;
}
.listing .odd {
	background: #f8f8f8;
}
/* end tables */

/* popular subjects */
.tag_stats {
    border: 1px solid #B2B2B5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    background-color: #F2F2F2;
}
.tag_stats li {
    display:inline;
}
/* end popular subjects */

/* various */
.moderator-help-buttons {
    border-bottom: 1px solid #B2B2B5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* end various */