/* Fonts, headlines, text */
body {
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}
h1 { font-size: 200%;}
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }
h1, h2, h3, h4, h5, h6 {
	padding: 0.25em 0 0.5em 0;
}
#header-meeting-title h1 {
	text-transform: uppercase;
}
#header-meeting-title a {
	color: #5c5a5d;
}
#header-meeting-outer {
	font-size: 23px;
}
#header-meeting-outer a {
	color: #5c5a5d;
	height: 50px;
	display: block;
}
#header-meeting-outer .tab {
	line-height: 50px;
	height: 50px;
	padding: 0px 10px 0px 0px;
}
#search_form {
	text-align: right;
}
#search_query {
	font-size: 16px;
	height: 16px;
	padding: 2px;
	margin: 15px 10px 15px 0px;
	width: 170px;
}
#search_button {

}
/* End Fonts, headlines, text */
/* Links */
a, a:hover, a:active {
	color: #006680;
}
a {
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}
/* End links */
/* Backgrounds and area borders */
body {
	background-color: #f2f2f2;
}
#header-global-outer {
	background-color: #fff;
}
#sidebar .sidebar_block {
	background-color: #fff;
}
#flash_messages {
	background-color: #fff;
}
#top {
	background-color: #fff;
}
#content {
	background-color: #fff;
}
.description {
	background-color: #fff;
}
#left,
#right {
	background-color: #fff;
	margin-top: 10px;
}
#header-meeting-outer {
	background: url(/static/images/menu_bg.png) repeat-x bottom left;
	height: 50px;
	margin-bottom: 20px;
}
/* End Backgrounds and area borders */
/* main element borders */
#left, #right, #top,
.sidebar_block {
	border: 1px solid #b2b2b5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #888;
    -moz-box-shadow:  1px 1px 5px 2px #888;
    -webkit-box-shadow: 1px 1px 5px 2px #888;
}
/* end main element borders */
/* Icons */
.iconpadding { padding-left: 20px; }
.large-iconpadding { padding-left: 45px; }
.icon.closed { background: url(/static/icons/icon_past.png) no-repeat; }
.icon.canceled { background: url(/static/icons/icon_past.png) no-repeat; }
.icon.ongoing { background: url(/static/icons/icon_ongoing.png) no-repeat; }
.icon.upcoming { background: url(/static/icons/icon_upcoming.png) no-repeat; }
.icon.private { background: url(/static/icons/icon_upcoming_red.png) no-repeat; }
.icon.proposal { background: url(/static/type_icons/proposal_mini.png) no-repeat; }
.selected .icon.proposal { background: url(/static/type_icons/proposal_mini_selected.png) no-repeat; }
.icon.discussion, .icon.discussionpost { background: url(/static/type_icons/discussion_mini.png) no-repeat; }
.selected .icon.discussion, .selected .icon.discussionpost { background: url(/static/type_icons/discussion_mini_selected.png) no-repeat; }
.icon.poll { background: url(/static/icons/icon_poll_lb.png) no-repeat left 50%; }
.icon.poll-dark { background: url(/static/icons/icon_poll.png) no-repeat; }
.cog-dark { background: url(/static/icons/icon_settings.png) no-repeat top left; }
.icon.published { background: url(/static/icons/icon_doc.png) left center no-repeat; }
.icon.retracted { background: url(/static/icons/icon_doc_retracted.png) left center no-repeat; }
.icon.unhandled { background: url(/static/icons/icon_doc.png) left center no-repeat; }
.icon.voting { background: url(/static/icons/icon_lock.png) left center no-repeat; }
.icon.approved { background: url(/static/icons/icon_approved.png) left center no-repeat; }
.icon.denied { background: url(/static/icons/icon_denied.png) left center no-repeat; }
.user-dark { background: url(/static/icons/icon_user_db.png) no-repeat top left; }
.icon.time { background: url(/static/icons/icon_clock.png) no-repeat 0 0; }

/* header icons */
h1.icon.proposal { background: url(/static/header_icons/proposal.png) no-repeat; }
h1.icon.discussion { background: url(/static/header_icons/discussion.png) no-repeat; }
#agenda_item_title.icon { background: url(/static/header_icons/agenda.png) no-repeat; }
/* End icons */

/* form elements */
button.small {
	background: url(/static/buttons/button_small_grey.png) repeat-x bottom left;
	font-size: 16px;
	height: 25px;
	border: 1px solid #b2b2b5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
button.small:hover {
	border-color: #968c89;
}
button.small:active {
	background: #ccc;
}
/* End form elements */

/* Cogwheel menu */
.cogwheel {
	float: right;
	height: 19px;
	width: 23px;
}
.cogwheel a {
	color: transparent !important;
	background: url(/static/buttons/cogwheel.png) no-repeat;
	display: block;
}
/* End Cogwheel menu */
/* Sidebar styles */
#sidebar,
#sidebar a {
	color: #5c5a5d;
	font-size: 17px;
}
#sidebar h5.header,
#sidebar h5.header a {
	font-size: 26px;
	display: block;
	height: 34px; /* Due to icons */
	line-height: 34px;
}
#sidebar h6 {
	font-size: 19px;
	text-transform: uppercase;
	margin-top: 20px;
}
#navigation .header a {
	padding-left: 40px;
	background: url(/static/sidebar_icons/agenda_navigation.png) no-repeat left top;
}
#navigation .item {
	margin-top: -1px; /* Overwrite line when bottom and top are next to each other */
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
#navigation .has_unread {
	padding-left: 5px;
	border-left: 5px solid #B2B2B5;
}
#navigation .selected .item {
	background-color: #7d7778;
	border-color: #B2B2B5;
	color: #fff;
}
#navigation .selected a {
	color: #fff;
}
/* End Sidebar styles */

/* Dropdown menus */
.meeting_actions_menu .menu_body {
	background-color: #968c89;
	color: #fff;
	padding: 10px;
	font-size: 16px;
	line-height: 1em;
}
.meeting_actions_menu .menu_body a,
.meeting_actions_menu .menu_body .menutext {
	color: #fff;
	padding: 5px;
	display: block;
	border-top: 1px transparent solid;
	border-bottom: 1px transparent solid;
}
.meeting_actions_menu .menu_body a:hover {
	background-color: #7d7778;
	border-color: #B2B2B5;
}
/* End Dropdown menus */

/* Override qTip defaults - should be same as body */
.qtip {
	font-size: 18px;
	line-height: 1.5em;
}
.qtip-content {
	padding: 0px;
}
/* End Override qTip defaults */
