.wrapper {
	width: 990px;
	margin: 0 auto;
	padding: 0;
}
.section {
	clear: both;
}
.clear {
	clear: both;
}

/* Top header section, with meeting title */
#header-global-outer {
	padding-top: 15px;
}
#header-global-outer .wrapper {
	height: 60px;
}
#header-meeting-title {
	float: left;
	width: 640px;
}
#header-meeting-title h1 {
	margin: 0;
}
#header-user-actions {
	float: left;
	width: 230px;
	overflow:hidden;
	margin-right: 10px;
}
#global-actions-menu {
	float: right;
}
#global-actions-menu #anon li {
	float: right;
	clear: right;
	font-size: 16px;
}
#header-logo {
	float: left;
	display:block;
	width: 110px;
	height: 50px;
	background: url(/static/images/voteit_logo.png) right top no-repeat;
}
/* End top header section */

/* Meeting section, the one just below the upper section with logo */
#meeting-actions {
	float: left;
	width: 720px;
}
#search_form {
	float: left;
	width: 270px;
}
/* End meeting section */

/* Main area / navigation */
#main {
	float: left;
	width: 770px;
}
#sidebar {
	float: left;
	width: 205px;
	padding-right: 15px;
}
#top {
	padding: 10px;
}
#content {
	padding: 10px;
}
.sidebar_block {
	padding: 10px;
	margin-bottom: 15px;
}
#main-outer {
	display: block;
	padding: 0 10px 120px 10px;
	
}
#page_wrapper {
    min-height: 100%;
}

/* End main area / navigation */

/* Content section - content area is 770px */
#left {
	float: left;
	width: 358px; /* + 1px border = 360px */
	padding: 10px;
	margin-right: 10px;
}
#right {
	float: left;
	padding: 10px;
	width: 358px; /* + 1px border = 360px */
}
/* End content section */

/* Menus */
.actions-menu li {
	float: left;
}
.menu_body {
    display: none;
}
/* End Menus */

/* Footer */
#footer-outer {
    position: relative;
	clear: both;
	border-top: #C1C1C0 solid 1px;
	background: transparent url(/static/images/footer_bg.png) repeat-x top left;
	margin-top: -100px;
	height: 100px;
}
#footer {
	text-align: center;
	padding: 10px 0 20px 0; /* Otherwise clear won't work */
}
/* End footer */

/* Generic classes for positioning columns
 	FIXME: We'll want to phase out these since they're a bit too complex.
 	Just using float in wrappers seems to make more sense.
*/
.col-20-80,
.col-50-50,
.col-65-35 {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    clear: both;
}
.column {
    position: relative;
    float: left;
    left: 100%;
}
.col-20-80 .column-1 {
    margin-left: -100%;
    width: 20%;
}
.col-20-80 .column-2 {
    margin-left: -80%;
    width: 80%;
}
.col-50-50 .column-1 {
    margin-left: -100%;
    width: 50%;
}
.col-50-50 .column-2 {
    margin-left: -50%;
    width: 50%;
}
.col-65-35 .column-1 {
    margin-left: -100%;
    width: 65%;
}
.col-65-35 .column-2 {
    margin-left: -35%;
    width: 35%;
}
/* end col classes */

