.modal-window {
    line-height: 1.5em;
}
.modal-window #modal-header {
    border-bottom: 2px solid #86A3B4;
    padding-bottom: 0.5em;
}


/* modal */
/* Z-index of .modal-window must heigher than #mask  */
.modal-window {
	position: absolute;
	z-index: 9999;
	display: none;
}
.modal-window {
    display: none;
    width: 60%;
    height: 60%;
    overflow: auto;
    background-color: white;
    padding: 15px;
    padding-right: 0px; 
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
}
.modal-window .close {
    position: absolute;
    float: right;
	z-index: 10000;
    top: 15px;
    right: 15px;
}
.modal-window #modal-header {
    margin-top: 0px;
}
.modal-window .tab.active {
	background-color: #054265;
	color: #fff;
}
.modal-inner {
	padding-right: 15px;
}
/* help tab */
#help-dialog > ul {
    margin: 5px 0 25px 0;
}

#help-dialog > ul li {
    display: inline;
    margin-right: 0.5em;
    list-style-type: none;
}
