.star-rating-control {
    float: right;
    margin-top: 10px;
}
.starwidget {
    display: block;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.starwidget .listing_block {
	border: 0px;
}
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/
 * This is our custom version of that code
 */
div.rating-cancel,div.star-rating{float:left;width:32px;height:31px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(/static/images/star_remove.png) no-repeat}
div.star-rating,div.star-rating a{background:url(/static/images/star_lb_bord.png) no-repeat}
div.rating-cancel a,div.star-rating a{display:block;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-image:url(/static/images/star.png)}
div.star-rating-hover a{background-image:url(/static/images/star.png)}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */
