/* Z-index of #modal-mask must lower than .modal-window */
#modal-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}
   
.modal-window {
	position: absolute;
	z-index: 9999;
	display: none;
}